<!DOCTYPE HTML>
<!--
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>The Mitten Map</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="font-awesome.min.css">
    <!--<link rel="stylesheet" href="assets/css/ie9.css" />-->
     <link rel="stylesheet" href="assets/css/ie8.css" />
     
       
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->

    </head>

<body class="landing">
		<!-- Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									
								</a>

						

						</div>
				

				<!-- Menu -->
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
						
							<li><a href="/about">About</a></li>
							
						</ul>
                  <img src = "https://zeducorp.sirv.com/state-maps/michigan-road-map-square.gif?&scale.option=fill&scale.width=720&scale.height=720" style = "height: 75px; width: 75px; margin-left: 40%;">
					</nav>
	</header>
    <div id="main">
                        <div class="inner">
        
                            <header>
                                <h1 style="text-align:center">The Mitten Map</h1>
                                <p style="text-align:center">Michigan, home of The Great Lakes and Motor City.The Mitten Map is a website that shows you what you can do in Michigan. Search from location, news and weather throughout the state.</p>
                                </header>
                            <section class="tiles">
                                <article class="style1">
                                    <span class="image">
                                        <img src="images/pic01.jpg" alt="" />
                                    </span>
                                    <a href="http://www.detroitmi.gov/">
                                        <h2 >Detroit</h2>
                                        <div class="content">
                                            <p>The Big D, The Motor City, Detroit is always growing, changing and becoming even more fun! There are so many tasty restaurants to try and fun activities to do. The Detroit Institute of Art is an amazing museum to take a walk around. And after all that walking around Roast restaurant is a great place to get some dinner. And for dessert Mootown ice cream is a great place if you are looking for some frozen treats.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style2">
                                    <span class="image">
                                        <img src="images/pic02.jpg" alt="" />
                                    </span>
                                    <a href="">
                                        <h2>Ann Arbor</h2>
                                        <div class="content">
                                            <p>Home of University of Michigan! Go blue! One of the cutest cities in Michigan! So many nice shops to admire. Ann Arbor is growing bigger and bigger and there is always something fun to do down there. Briarwood mall is a nice mall to look around in. After all that shopping, Zingermans road house is a perfect place to get some nice sandwiches.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style3">
                                    <span class="image">
                                        <img src="images/pic03.jpg" alt="" />
                                    </span>
                                    <a href="">
                                        <h2>Traverse City</h2>
                                        <div class="content">
                                            <p>Traverse City is on the shore of Lake Michigans Grand Traverse Bay. The city is known for its annual Cherry Festival. There are great activities to do in Traverse City. Going fishing on Grand Traverse Bay, The Dennis Museum Center, and Traverse City State Park are fun activities to do. Tasty restaurants in Traverse City are Apache Trout Grill, Amical, and Bubba’s.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style4">
                                    <span class="image">
                                        <img src="images/pic04.jpg" alt="" />
                                    </span>
                                    <a href="">
                                        <h2>Lansing</h2>
                                        <div class="content">
                                            <p>Lansing is Michigan’s Capitol. Lansing is known for its Oldsmobile car factories. It is also the home of Michigan State University. Fun activities to do in Lansing is take a tour of the Michigan Capitol, visit the Potter Park Zoo, and R.E. Olds Transportation Museum. There are so many good restaurants in Lansing. Soup Spoon Cafe, Saddleback BBQ, and The Cosmos are great restaurants in Lansing.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style5">
                                    <span class="image">
                                        <img src="images/pic05.jpg" alt="" />
                                    </span>
                                    <a href="">
                                        <h2>Mackinaw Island</h2>
                                        <div class="content">
                                            <p>Mackinaw is known for there great tourism and family friendly activities. You can go horse back riding, bicycling, swimming, or take a nice stroll on the beach. If you’re looking for good restaurants to eat at the Grand Hotel has a restaurant inside called The Main Dining Room.One thing you can’t forget when you’re on the island is their famous fudge. The best place to get fudge is Murdick’s Famous Fudge.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style6">
                                    <span class="image">
                                        <img src="images/pic06.jpg" alt="" />
                                    </span>
                                    <a href="">
                                        <h2>Grand Rapids</h2>
                                        <div class="content">
                                            <p>Michigan’s second largest city. Grand Rapids is known for its music, art and great food. Plus there are so many educational things to see, from Fredrick Mejier Garden and Sculpture Park to Gerald R. Ford Museum both interesting to see.</p>
                                        </div>
                                    </a>
                                    </article>
                               </section>    
                      
    </div>
                                    
      </div> 
      </div><!-- Footer -->
                 
            
    <h1 style="text-align:center">Looking for Something Else?</h1>
    <form method = "POST" action = "/city">
        <h3 style="text-align:center">What city are you going to?</h3>
        <input type = "text" name = "location">
        <h3 style="text-align:center">What are you doing there?</h3>
        <input type = "text" name = "search">
        <input style="margin-left:45%" type = "submit">
    </form>
    <h1 style="text-align:center">Looking for News/Weather in your City?</h1>
    <form method="POST" action="/new">
      <h3 style="text-align:center">What city are you searching for?</h3>
      <input type="text" name="search">
      <input style="margin-left:45%"type="submit">
    </form>
    
    
		<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
    </body>
</html>
